<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Language</th>
        <th>Image</th>
    </tr>

    <th:block th:each="book: ${books}">
        <tr>
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.genre}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.language}"></td>
            <td><a th:href="@{'/books/' + ${book.id}}">
                <img th:src="@{'/images/' + ${book.image}}" alt="book" width="50" height="50"/>
            </a></td>
        </tr>
    </th:block>
</table>
</body>
</html>